.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__container {
        display: flex;
        flex: 1;
        position: relative;
        padding-top: 4rem; // Altura do header
    }

    &__sidebar {
        position: fixed;
        top: 4rem; // Altura do header
        left: 0;
        bottom: 0;
        z-index: 30;
        transition: transform 0.3s ease, width 0.3s ease;
        transform: translateX(0);
        width: 260px;

        &:not(.sidebar--open) {
            transform: translateX(-100%);
            width: 0;
        }
    }

    &__main {
        flex: 1;
        min-height: calc(100vh - 7rem); // 4rem header + 3rem footer
        transition: margin-left 0.3s ease;
        margin-left: 0;

        &--sidebar-open {
            margin-left: 260px;
        }
    }
}

@media (max-width: 768px) {
    .layout {
        &__main {
            &--sidebar-open {
                margin-left: 0;
            }
        }

        &__sidebar {
            &.sidebar--open {
                width: 260px;
                transform: translateX(0);
                box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
            }
        }
    }
}